{% for item in tree|list_nodes_recursively %}
{% if item.is_group %}
{% if item.is_sequence %}
  Sequence {{ item.full_name }}
{% else %}
  Group {{ item.full_name }}
{% endif %}
{% endif %}
{% if item.is_register %}
    Register {{ "%-34s"|format(item.prefix_name) }} {{ "%-10s"|format(item.name ) }} {{ item.index }}
{% if item.bitfield|count > 1 %}
{% for bf in item.bitfield %}
        BitField {{ "%-30s"|format(bf.full_name) }} {{ "%-10s"|format(bf.name) }} lo: {{ bf.lo }} hi: {{ bf.hi }} bits: {{ bf.bits }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
