{{ tree.warning|vhdl_comment }}

{% for register in registers if register is in_group('Bar2') %}
{% for bf in register.bitfield if bf.is_write %}
  register_map_control_s.{{"%-30s"|format(bf.dot_name)}} <= {{"%-40s"|format(bf.full_name|prepend('REG_')|append('_C')|semi)}} {{bf.desc|vhdl_comment(100)}}
{% endfor %}
{% endfor %}
